<link rel="import" href="/components/standard/core-icon/core-icon.html">
<link rel="import" href="/components/standard/core-icons/editor-icons.html">
<link rel="import" href="/components/standard/core-collapse/core-collapse.html">
<link rel="import" href="/components/standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/standard/paper-dialog/paper-action-dialog.html">
<link rel="import" href="/components/standard/paper-dialog/paper-dialog.html">
<link rel="import" href="/components/standard/paper-input/paper-input.html">

<link rel="import" href="/components/forms/editable-text.html">
<link rel="import" href="/components/forms/async-manager.html">

<polymer-element name="assignment-card-row">
   <template>
      <link rel="stylesheet" type="text/css" href="assignment-card-row.css">
      <!-- Title and control buttons. -->
      <div layout horizontal>
         <paper-icon-button id="edit" noink
            hide?="{{ !open }}"
            icon="editor:mode-edit"
            on-click="{{ edit }}"></paper-icon-button>
         <div class="clickable" on-click="{{ toggleCollapseSection }}" flex self-center>
            {{ name || 'Untitled' }}
         </div>
         <paper-icon-button id="save" class="hide" mini noink
            icon="save"
            on-click="{{ saveQuestions }}"></paper-icon-button>
         <paper-icon-button id="add" mini noink
            hide?="{{ !open }}"
            icon="add"
            on-click="{{ pushQuestion }}"></paper-icon-button>
      </div>

      <!-- Question list. -->
      <core-collapse id="collapse" opened="{{ open }}">
         <template if="{{ questions && questions.length > 0 }}">
            <ol>
               <template repeat="{{ q in questions }}">
                  <li>
                     <editable-text
                        value="{{ q.prompt }}"
                        storeKey="{{ q.revision }}"
                        hashKey="prompt"
                        on-unsaved="{{ showSaveButton }}"
                        on-remove="{{ removeQuestionCB }}">
                     </editable-text>
                  </li>
               </template>
            </ol>
         </template>
      </core-collapse>

      <!-- Assignment edit dialog. -->
      <paper-action-dialog id="editform" backdrop>
         <div layout horizontal>
            <h1 flex>Edit Assignment</h1>
            <paper-button dismissive class="delete" self-center>Delete</paper-button>
         </div>
         <div layout vertical class="form">
            <paper-input id="newtitle" floatinglabel label="Title">
            </paper-input>
         </div>
         <paper-button dismissive>Cancel</paper-button>
         <paper-button affirmative on-click="{{ saveAssignment }}">Save</paper-button>
      </paper-action-dialog>

      <async-manager id="areviser" success="{{ saveAssignmentCB | bindThis }}"></async-manager>
      <async-manager id="qadder" success="{{ addQuestionsCB | bindThis }}"></async-manager>
   </template>
      <script>

Polymer('assignment-card-row', {
   publish: {
      'storeKey': null,
      'name': '',
      'questions': [],
      'open': false
   },

   created: function() {
      this.questions = [];
   },

   domReady: function() {
      this.hideSaveButton();
      this.$.newtitle.value = this.name;
   },

   saveQuestions: function() {
      this.hideSaveButton();
      var newQuestions = [];
      this.editables().forEach(function(q) {
         if (!q.storeKey)
            newQuestions.push(q.getValue());
         else if (q.unsaved)
            q.save();
      });
      if (newQuestions.length > 0)
         this.$.qadder.addQuestions(this.storeKey, newQuestions);
   },

   addQuestionsCB: function(evt) {
      var saved = this.questions.filter(function(q) {
         return q.revision;
      });
      evt.detail.response['new'].forEach(function(q) {
         saved.push(q);
      });
      this.questions = saved;
   },

   removeQuestionCB: function(evt) {
      for (var i = 0; i < this.questions.length; i++) {
         if (evt.detail.key == this.questions[i].revision) {
            this.questions.splice(i, 1);
            return;
         }
      }
   },

   saveAssignment: function() {
      this.$.areviser.revise(this.storeKey, 'title', this.$.newtitle.value);
   },

   saveAssignmentCB: function(evt) {
      this.name = evt.detail.response['new'];
   },

   edit: function() {
      this.$.editform.open();
   },

   showSaveButton: function() {
      this.$.save.classList.remove('hide');
   },

   hideSaveButton: function() {
      this.$.save.classList.add('hide');
   },

   pushQuestion: function() {
      this.showSaveButton();
      this.questions.push({ prompt: '' });
   },

   delete: function() {
      console.log('unimplemented!');
   },

   toggleCollapseSection: function(evt) {
      this.$.collapse.toggle();
   },

   editables: function() {
      return this.querySelectorAll('* /deep/ editable-text').array();
   },

   bindThis: function(fn) {
      return fn.bind(this);
   }
});

   </script>
</polymer-element>