<link rel="import" href="/components/standard/core-icon/core-icon.html">
<link rel="import" href="/components/standard/core-icons/editor-icons.html">
<link rel="import" href="/components/standard/core-collapse/core-collapse.html">
<link rel="import" href="/components/standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/standard/paper-dialog/paper-action-dialog.html">
<link rel="import" href="/components/standard/paper-dialog/paper-dialog.html">
<link rel="import" href="/components/standard/paper-input/paper-input.html">

<link rel="import" href="/components/forms/editable-text.html">

<polymer-element name="assignment-card-row">
   <template>
      <link rel="stylesheet" type="text/css" href="assignment-card-row.css">
      <!-- Title and control buttons. -->
      <div layout horizontal>
         <paper-icon-button id="edit" class="hide" icon="editor:mode-edit" on-click="{{ edit }}" noink></paper-icon-button>
         <div class="clickable" on-click="{{ toggleCollapseSection }}" flex self-center>
            {{ name || 'Untitled' }}
         </div>
         <paper-icon-button id="save" class="hide" icon="save" on-click="{{ saveQuestions }}" noink></paper-icon-button>
      </div>

      <!-- Question list. -->
      <core-collapse id="collapse">
         <template if="{{ questions && questions.length > 0 }}">
            <ol>
               <template repeat="{{ q in questions }}">
                  <li><editable-text value="{{ q }}" storeKey="{{ q.storeKey }}"></editable-text></li>
               </template>
            </ol>
         </template>
      </core-collapse>

      <!-- Assignment edit dialog. -->
      <paper-action-dialog id="editform" backdrop>
         <div layout horizontal>
            <h1 flex>Edit Assignment</h1>
            <paper-button dismissive class="delete" self-center>Delete</paper-button>
         </div>
         <div layout vertical class="form">
            <paper-input floatinglabel label="Title" value="{{ name }}"></paper-input>
         </div>
         <paper-button dismissive>Cancel</paper-button>
         <paper-button affirmative on-click="{{ saveForm }}">Save</paper-button>
      </paper-action-dialog>
   </template>
      <script>

Polymer('assignment-card-row', {
   publish: {
      'storeKey': null,
      'name': '',
      'questions': []
   },

   created: function() {
      this.questions = [];
   },

   saveQuestions: function() {
      this.querySelectorAll('* /deep/ editable-text').array().forEach(function(q) {
         if (q.unsaved) q.save();
      });
   },

   edit: function() {
      this.$.editform.open();
   },

   delete: function() {

   },

   toggleCollapseSection: function(evt) {
      var editButton = this.$.edit;
      var saveButton = this.$.save;
      this.$.collapse.toggle();
      if (this.$.collapse.opened) {
         editButton.classList.remove('hide');
         saveButton.classList.remove('hide');
      } else {
         editButton.classList.add('hide');
         saveButton.classList.add('hide');
      }
   }
});

   </script>
</polymer-element>