<link rel="import" href="/components/standard/core-icon/core-icon.html">
<link rel="import" href="/components/standard/core-icons/editor-icons.html">
<link rel="import" href="/components/standard/paper-fab/paper-fab.html">
<link rel="import" href="/components/standard/core-collapse/core-collapse.html">
<link rel="import" href="/components/standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/standard/paper-input/paper-input.html">

<link rel="import" href="/components/dash-card/assignment-card-row.html">
<link rel="import" href="/components/forms/async-manager.html">

<polymer-element name="assignment-card">
   <template>
      <link rel="stylesheet" type="text/css" href="dash-card.css">
      <!-- Card header. -->
      <h1 layout horizontal>
         <span flex self-center>Assignments</span>
         <paper-fab class="headerbutton" mini self-center 
            icon="add"
            on-click="{{ showDialog }}"></paper-fab>
      </h1>
      <div class="content">
         <ul class="toplevel">
            <template repeat="{{ a in assignments }}">
               <li>
                  <assignment-card-row
                     storeKey="{{ a.revision }}"
                     name="{{ a.name }}"
                     questions="{{ a.questions }}">
                  </assignment-card-row>
               </li>
            </template>
         </ul>
      </div>
      <!-- Assignment edit dialog. -->
      <paper-action-dialog id="addform" backdrop>
         <div layout horizontal>
            <h1 flex>Add Assignment</h1>
         </div>
         <div layout vertical class="form">
            <select id="newassignmentcourse">
               <option value="1:course">CSE 142</option>
               <option value="1:course">PHIL 101</option>
               <option value="1:course">MATH 480</option>
            </select>
            <paper-input id="newassignmenttitle"
               floatinglabel
               label="Title"
               value="{{ name }}">
            </paper-input>
         </div>
         <paper-button dismissive>Cancel</paper-button>
         <paper-button affirmative on-click="{{ addAssignment }}">Save</paper-button>
      </paper-action-dialog>

      <async-manager id="ajax" success="{{ addAssignmentCB | bindThis }}"></async-manager>
   </template>
      <script>

Polymer('assignment-card', {
   publish: {
      'assignments': []
   },

   created: function() {
      this.assignments = [];
   },

   showDialog: function() {
      this.$.addform.toggle();
   },

   addAssignment: function() {
      var course = this.$.newassignmentcourse.value;
      var title = this.$.newassignmenttitle.value;
      this.$.ajax.addAssignment(course, title);
   },

   addAssignmentCB: function(evt) {
      this.assignments.push(evt.detail.response['new']);
   },

   bindThis: function(fn) {
      return fn.bind(this);
   }
});

   </script>
</polymer-element>