.clickable {
   cursor: pointer;
}

paper-radio-button::shadow #ink[checked] {
   color: #424242;
}

paper-radio-button[checked]::shadow #offRadio,
paper-radio-button::shadow #offRadio {
   border-color: #424242;
}

paper-radio-button::shadow #onRadio {
   background-color: #2196F3;
}

#edit {
   position: absolute;
   left: -47px;
}

#edit:hover {
   color: white;
}

#save:hover, #add:hover, #remove:hover {
   color: #2196F3;
}

#edit {
   color: #2196F3;
}

#save, #add, #remove {
   color: #424242;
   margin-left: 5px;
}

#edit, #save, #add, #remove {
   padding: 0px;
   transition: color ease-in-out 0.2s;
}

.hide, *[hide] {
   display: none;
}

.form {
   width: 50%;
}

.form > div {
   margin-bottom: 20px;
}

:host {
   display: block;
   position: relative;
}

ol {
   margin: 10px;
   font-size: smaller;
   padding-left: 25px;
}
