<link rel="import" href="/components/standard/core-icon/core-icon.html">
<link rel="import" href="/components/standard/core-icons/editor-icons.html">
<link rel="import" href="/components/standard/paper-fab/paper-fab.html">
<link rel="import" href="/components/standard/core-collapse/core-collapse.html">
<link rel="import" href="/components/standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/standard/paper-dialog/paper-action-dialog.html">
<link rel="import" href="/components/standard/paper-dialog/paper-dialog.html">
<link rel="import" href="/components/forms/async-form.html">

<polymer-element name="assignment-card">
   <template>
      <link rel="stylesheet" type="text/css" href="dash-card.css">
      <h1 layout horizontal>
         <span flex self-center>Assignments</span>
         <paper-fab self-center class="headerbutton" icon="add" mini on-click="{{ addAssignment }}"></paper-fab>
      </h1>
      <div class="content">
         <ul class="toplevel">
            <template repeat="{{ a in assignments }}">
               <li>
                  <div layout horizontal>
                     <paper-icon-button id="edit" class="hide" icon="editor:mode-edit" on-click="{{ editAssignment }}"></paper-icon-button>
                     <div class="clickable" on-click="{{ toggleCollapseSection }}" flex self-center>
                        {{ a.name }}
                     </div>
                     <paper-radio-group selected="off" class="dark">
                        <paper-radio-button name="off"></paper-radio-button>
                        <paper-radio-button name="respond"></paper-radio-button>
                        <paper-radio-button name="feedback"></paper-radio-button>
                     </paper-radio-group>
                  </div>
                  <core-collapse>
                     <template if="{{ a.questions && a.questions.length > 0 }}">
                        <ol>
                           <template repeat="{{ q in a.questions }}">
                              <li>{{ q }}</li>
                           </template>
                        </ol>
                     </template>
                  </core-collapse>
                  <paper-action-dialog backdrop>
                     <async-form auto header="Edit Assignment" prefill="{{ a.questions }}"
                                      placeholderText="enter a new question" url="/survey/edit">
                     </async-form>
                     <paper-button dismissive>CANCEL</paper-button>
                     <paper-button affirmative on-click="{{ saveForm }}">SAVE</paper-button>
                  </paper-action-dialog>
               </li>
            </template>
         </ul>
         <paper-action-dialog backdrop id="add">
            <async-form auto header="Add Assignment" blankInputs="3" url="/survey/edit"
                        placeholderText="enter a new question">
               <question-input key="title" placeholderText="new assignment title"></question-input>
            </async-form>
            <paper-button dismissive>CANCEL</paper-button>
            <paper-button affirmative on-click="{{ saveForm }}">SAVE</paper-button>
         </paper-action-dialog>
      </div>
   </template>
      <script>

Polymer('assignment-card', {
   publish: {
      'assignments': []
   },

   created: function() {
      this.assignments = [];
   },

   domReady: function() {
      var forms = this.querySelectorAll('::shadow async-form').array();
      for (var i = 0; i < forms.length; i++)
         forms[i].serialize = this.toAssignmentProto.bind(this);
   },

   toAssignmentProto: function(keyed, numbered) {
      var proto = {};
      proto['title'] = keyed['title']
      proto['questions'] = JSON.stringify(numbered)
      return proto;
   },

   toggleCollapseSection: function(evt) {
      var ancestor = evt.target.parentElement.parentElement;
      var collapse = ancestor.querySelector('core-collapse');
      var editButton = ancestor.querySelector('#edit');
      collapse.toggle();
      if (collapse.opened)
         editButton.classList.remove('hide');
      else
         editButton.classList.add('hide');
   },

   addAssignment: function() {
      this.$.add.toggle();
   },

   editAssignment: function(evt) {
      var ancestor = evt.target.parentElement.parentElement;
      var editor = ancestor.querySelector('paper-action-dialog');
      editor.toggle();
   },

   saveForm: function(evt) {
      var ancestor = evt.target.parentElement;
      ancestor.querySelector('async-form').submit();
   }
});

   </script>
</polymer-element>