<link rel="import" href="/components/standard/core-icon/core-icon.html">
<link rel="import" href="/components/standard/core-icons/editor-icons.html">
<link rel="import" href="/components/standard/core-collapse/core-collapse.html">
<link rel="import" href="/components/standard/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/standard/paper-dialog/paper-action-dialog.html">
<link rel="import" href="/components/standard/paper-dialog/paper-dialog.html">
<link rel="import" href="/components/standard/paper-input/paper-input.html">

<link rel="import" href="/components/forms/editable-text.html">
<link rel="import" href="/components/forms/async-manager.html">

<polymer-element name="assignment-card-row">
   <template>
      <link rel="stylesheet" type="text/css" href="course-card-row.css">
      <!-- Title and control buttons. -->
      <div layout horizontal>
         <paper-icon-button id="edit" noink
            hide?="{{ !open }}"
            icon="editor:mode-edit"
            on-click="{{ edit }}"></paper-icon-button>
         <div class="clickable" on-click="{{ toggleCollapseSection }}" flex self-center>
            {{ name || 'Untitled' }}
         </div>
         <paper-icon-button id="save" class="hide" mininoink
            icon="save"
            on-click="{{ saveQuestions }}"></paper-icon-button>
         <paper-icon-button id="add" mini noink
            hide?="{{ !open }}"
            icon="add"
            on-click="{{ pushQuestion }}"></paper-icon-button>
         <paper-icon-button id="remove" mini noink
            hide?="{{ !open }}"
            icon="remove"
            on-click="{{ popQuestion }}"></paper-icon-button>
      </div>

      <!-- Question list. -->
      <core-collapse id="collapse" opened="{{ open }}">
         <template if="{{ questions && questions.length > 0 }}">
            <ol>
               <template repeat="{{ q in questions }}">
                  <li>
                     <editable-text
                        value="{{ q.prompt }}"
                        storeKey="{{ q.revision }}"
                        hashKey="prompt"
                        on-unsaved="{{ showSaveButton }}">
                     </editable-text>
                  </li>
               </template>
            </ol>
         </template>
      </core-collapse>

      <!-- Assignment edit dialog. -->
      <paper-action-dialog id="editform" backdrop>
         <div layout horizontal>
            <h1 flex>Edit Assignment</h1>
            <paper-button dismissive class="delete" self-center>Delete</paper-button>
         </div>
         <div layout vertical class="form">
            <paper-input id="newtitle" floatinglabel label="Title">
            </paper-input>
         </div>
         <paper-button dismissive>Cancel</paper-button>
         <paper-button affirmative on-click="{{ saveAssignment }}">Save</paper-button>
      </paper-action-dialog>

      <async-manager id="areviser" success="{{ saveAssignmentCB | bindThis }}"></async-manager>
      <async-manager id="qadder" success="{{ addQuestionsCB | bindThis }}"></async-manager>
   </template>
      <script>

Polymer('assignment-card-row', {
   publish: {
      shortName: '',
      longName: '',
      students: []
   }
});

   </script>
</polymer-element>