<polymer-element name="dash-card">
   <template>
      <style>
:host {
   display: block;
   background-color: yellow;
   font-weight: lighter;
   margin-top: 10px;
   border-radius: 2px;
   overflow: hidden;
   font-size: larger;
}

h1 {
   color: white;
   font-weight: lighter;
   text-transform: lowercase;
   padding: 15px;
   margin: 0px;
}

h1 span {
   color: white;
}

::content paper-fab {
   background-color: white;
   color: inherit;
}
      </style>
      <h1 layout horizontal>
         <span flex self-center>{{ title }}</span>
         <content select=".headerbutton"></content>
      </h1>
      <div class="content"><content></content></div>
   </template>
      <script>

Polymer('dash-card', {
   publish: {
      'title': ''
   }
});

   </script>
</polymer-element>