<link rel="import" href="/components/forms/question-input.html">
<link rel="import" href="/components/standard/core-ajax/core-ajax.html">
<link rel="import" href="/components/standard/paper-button/paper-button.html">
<link rel="import" href="/components/standard/paper-toast/paper-toast.html">

<polymer-element name="assignment-survey">
   <template>
      <link rel="stylesheet" type="text/css" href="/components/controllers/assignment-survey.css">
      <div layout horizontal>
         <div class="buttoncontainer" flex>
            <span>{{ course }}</span>
            <span>{{ name }}</span>
         </div>
         <div self-center>
            <paper-button id="save" class="saved" raised>Save</paper-button>
            <paper-button id="submit" on-click="{{ attemptSubmit }}" raised>Submit</paper-button>
         </div>
      </div>
      <core-ajax id="ajax" method="POST" url="/respond/survey" on-core-error="{{ handleError }}"></core-ajax>
      <paper-toast id="toast" text='Error on submission! Make sure to save your answers offline, and try again later.'></paper-toast>
      <content></content>
   </template>
      <script>

Polymer('assignment-survey', {
   publish: {
      key: null,
      name: '',
      course: ''
   },

   created: function() {
      this.key = window.URL_PARAMS['assignment'];
      this.name = '';
      this.course = '';
   },

   attemptSubmit: function() {
      var form = { 'assignment': this.key };
      var questions = this.querySelectorAll('question-input').array();
      questions.forEach(function(q) {
         form[q.key] = q.getResponse();
      });
      this.$.ajax.params = form;
      this.$.ajax.go();
   },

   handleError: function() {
      this.$.toast.show();
   }
});

   </script>
</polymer-element>