<link rel="import" href="/components/dash-card/assignment-card.html">
<link rel="import" href="/components/dashboard-header/dashboard-header.html">

<polymer-element name="prof-dashboard">
   <template>
      <link rel="stylesheet" type="text/css" href="/components/controllers/prof-dashboard.css">
      <div>
         <dashboard-header title="Instructor Dashboard"></dashboard-header>
         <assignment-card id="acard"></assignment-card>
      </div>
   </template>
      <script>

Polymer('prof-dashboard', {
   domReady: function() {
      // Load model from light DOM.
      this.courses = this.gather('course', ['shortname', 'longname']);
      this.students = this.gather('student', ['name']);
      var assignments = this.gather('assignment', ['name', 'revision']);
      assignments.forEach(function(asst) {
         var elt = asst['element'];
         var questions = elt.querySelectorAll('question').array();
         asst['questions'] = questions.map(function(question) {
            return question.innerHTML;
         });
      });

      // Populate card models.
      this.$.acard.assignments = assignments;
   },

   gather: function(tagName, attributes) {
      var elts = document.querySelectorAll(tagName).array();
      return elts.map(function(elt) {
         var obj = {};
         attributes.forEach(function(attr) {
            obj[attr] = elt.getAttribute(attr);
         });
         obj['element'] = elt;
         return obj;
      });
   }
});

   </script>
</polymer-element>