:host {
   display: block;
   margin: auto;
}

assignment-card {
   background-color: #BBDEFB;
}

assignment-card::shadow h1 {
   background-color: #2196F3;
}

assignment-card::shadow paper-fab {
   color: #2196F3;
}

assignment-card::shadow paper-radio-button::shadow #onRadio {
   background-color: #2196F3;
}

assignment-card::shadow paper-icon-button {
   color: #2196F3;
}


course-card {
   background-color: #B2DFDB;
}

course-card::shadow h1 {
   background-color: #009688;
}

course-card::shadow paper-fab {
   color: #009688;
}

course-card::shadow paper-radio-button::shadow #onRadio {
   background-color: #009688;
}

course-card::shadow paper-icon-button {
   color: #009688;
}

/*
dash-card:nth-child(2) {
   background-color: #B2DFDB;
}

dash-card:nth-child(2)::shadow h1 {
   color: #009688;
   background-color: #009688;
}

dash-card:nth-child(3) {
   background-color: #FFCDD2;
}

dash-card:nth-child(3)::shadow h1 {
   color: #F44336;
   background-color: #F44336;
}
*/
