body {
   background-color: #424242;
   font-family: Avenir Next, Calibri, sans-serif;
}

body > * {
   margin-top: 10px;
}

core-overlay-layer /deep/ paper-action-dialog .form {
   min-width: 300px;
   margin: auto;
   color: grey;
}

core-overlay-layer /deep/ paper-action-dialog .form > * {
   margin-left: 20px;
   margin-right: 20px;
}

core-overlay-layer /deep/ paper-action-dialog .delete {
   color: #F44336;
   border-radius: 5px;
   background-color: #FFEBEE;
   margin-left: 20px;
}

core-overlay-layer /deep/ paper-action-dialog select {
   display: inline;
   font-size: larger;
   margin-left: 20px;
}
