@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);

body {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: Open Sans, sans-serif;
}

body > * {
   width: 800px;
   margin: auto;
}

* input, * textarea {
   font-family: inherit;
   font-size: inherit;
}

* /deep/ input, * /deep/ textarea {
   font-family: inherit;
   font-size: inherit;
}

* /deep/ h1, * /deep/ h2 {
   font-weight: normal;
}
