#wrapper {
   position: relative;
}

#wrapper:hover #remove {
   opacity: 1;
}

#remove {
   opacity: 0;
}

#input, #placeholder {
   padding: 5px;
   outline: none;
}

#placeholder {
   position: absolute;
   top: 0px;
   left: 0px;
   pointer-events: none;
   font-style: italic;
   color: grey;
}

#input:focus, #input:not([saved]) {
   border-radius: 3px;
   color: white;
   display: inline-block;
}

#button {
   position: absolute;
   top: 0px;
   right: 0px;
}

:host {
   position: relative;
   display: inline-block;
   width: 100%;
}

paper-progress {
   bottom: 0;
   left: 0;
   width: 100%;
   position: absolute;
}

paper-progress::shadow #progressContainer {
   background-color: transparent;
}

#input:focus, #input:not([saved]),
paper-progress::shadow #activeProgress {
  background-color: #424242;
}

paper-icon-button {
   padding: 0;
   color: #424242;
   transition: color ease-in-out 0.2s;
}

paper-icon-button:hover {
   color: #F44336;
}
