<polymer-element name="question-input">
   <template>
      <link rel="stylesheet" type="text/css" href="/components/forms/question-input.css">
      <div layout horizontal>
         <div class="number">#{{ number }}</div>
         <div class="container" flex>
            <template if="{{ prompt }}">
               <div class="prompt">{{ prompt }}</div>
            </template>
            <textarea id="response" placeholder="{{ placeholderText }}">{{ defaultText }}</textarea>
         </div>
      </div>
   </template>
      <script>

Polymer('question-input', {
   publish: {
      number: null,
      prompt: '',
      key: null,
      placeholderText: 'your response',
      defaultText: ''
   },

   getResponse: function() {
      return this.$.response.value.trim();
   }
});

   </script>
</polymer-element>
