<!DOCTYPE html>
<html>
<head>
   <title></title>
   <!-- Statically loaded extern file. -->
   <script src="global/protos.js"></script>
   <script src="components/standard/webcomponentsjs/webcomponents.js"></script>
   <link rel="stylesheet" type="text/css" href="global/main.css">
   <link rel="stylesheet" type="text/css" href="global/dashboard.css">
   <link rel="import" href="components/standard/polymer/polymer.html">
   <link rel="import" href="components/controllers/prof-dashboard.html">
</head>
<body>
   <prof-dashboard>
      <assignment name="Assignment #7">
         <question>What is your favorite color?</question>
         <question>Are you going to school?</question>
         <question>Are you happy with your life?</question>
      </assignment>
      <assignment name="Reading Response #2">
         <question>What is your favorite color?</question>
         <question>Are you going to school?</question>
         <question>Are you happy with your life?</question>
      </assignment>
      <assignment name="Reading Response #1" />
      <student name="Chris Alfino" username="alfino27" />
      <student name="Nick Alfino" username="bro" />
      <student name="Michele Pajer" username="mom" />
      <course shortname="Phil 101" longname="Introduction to Ethics" />
      <course shortname="Math 480" longname="Mathematical Modeling" />
   </prof-dashboard>
</body>
</html>
