<!DOCTYPE html>
<html>
<head>
   <title>Dashboard</title>
   <!--
   <script type="text/javascript" src="global/paper-full-min.js"></script>
   <script type="text/paperscript" canvas="atom" src="global/atom.js"></script>
   -->
   <script src="components/standard/webcomponentsjs/webcomponents.js"></script>
   <link rel="stylesheet" type="text/css" href="global/main.css">
   <link rel="stylesheet" type="text/css" href="global/dashboard.css">
   <link rel="import" href="components/standard/polymer/polymer.html">
   <link rel="import" href="components/controllers/prof-dashboard.html">
</head>
<body>
   <prof-dashboard>
      {% for a in assignments %}
         <assignment name="{{ a.title }}" revision="{{ a.id }}">
            {% for q in a.questions %}
               <question revision="{{ q.id }}">{{ q.prompt }}</question>
            {% endfor %}
         </assignment>
      {% endfor %}
      <student name="Chris Alfino" username="alfino27" />
      <student name="Nick Alfino" username="bro" />
      <student name="Michele Pajer" username="mom" />
      <course shortname="Phil 101" longname="Introduction to Ethics" />
      <course shortname="Math 480" longname="Mathematical Modeling" />
   </prof-dashboard>
</body>
</html>
